[user]
	name = TopengDev
	email = topengdev@outlook.com
[core]
	compression = 0
	hooksPath = /home/christopher/.config/git/hooks
[pack]
	window = 1
[pull]
	rebase = true
[init]
	defaultBranch = main
[credential]
	helper = store
